In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("Bengaluru_House_Data_Cleaned.csv")
df.head(3)

              location  total_sqft  bath  price  bhk
0  1st Block Jayanagar      2850.0   4.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0  235.0    3

In [6]:
dummies = pd.get_dummies(df.location)
dummies.head(3)

,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,9th Phase JP Nagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,other
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df1 = pd.concat([df,dummies.drop('other', axis = 'columns')], axis = 'columns')
df1.head(3)

,location,total_sqft,bath,price,bhk,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,1st Block Jayanagar,2850.0,4.0,428.0,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1st Block Jayanagar,1630.0,3.0,194.0,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1st Block Jayanagar,1875.0,2.0,235.0,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df1.head(20)

,location,total_sqft,bath,price,bhk,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,1st Block Jayanagar,2850.0,4.0,428.0,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1st Block Jayanagar,1630.0,3.0,194.0,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1st Block Jayanagar,1875.0,2.0,235.0,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1st Block Jayanagar,1200.0,2.0,130.0,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1st Block Jayanagar,1235.0,2.0,148.0,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1st Block Jayanagar,2750.0,4.0,413.0,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1st Block Jayanagar,2450.0,4.0,368.0,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1st Phase JP Nagar,1875.0,3.0,167.0,3,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1st Phase JP Nagar,1500.0,5.0,85.0,5,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1st Phase JP Nagar,2065.0,4.0,210.0,3,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,1st Phase JP Nagar,2059.0,3.0,225.0,3,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,1st Phase JP Nagar,1394.0,2.0,100.0,2,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,1st Phase JP Nagar,1077.0,2.0,93.0,2,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,1st Phase JP Nagar,1566.0,2.0,180.0,2,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,1st Phase JP Nagar,840.0,2.0,50.0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,1st Phase JP Nagar,1590.0,3.0,131.0,3,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,1st Phase JP Nagar,2180.0,3.0,210.0,3,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,1st Phase JP Nagar,1180.0,2.0,88.5,2,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,1st Phase JP Nagar,1200.0,2.0,86.0,2,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,1st Phase JP Nagar,1394.0,2.0,85.0,2,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
df2 = df1.drop('location', axis = 'columns')
df2.head(2)

,total_sqft,bath,price,bhk,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,2850.0,4.0,428.0,4,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1630.0,3.0,194.0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
df2.shape

(7325, 245)

In [12]:
# X contains all independent variables
X = df2.drop('price',axis = 'columns')
X.head(3)

,total_sqft,bath,bhk,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,2850.0,4.0,4,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1630.0,3.0,3,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1875.0,2.0,3,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
# y contains dependent variable
y = df2.price
y.head(3)

0    428.0
1    194.0
2    235.0
Name: price, dtype: float64

In [15]:
# split test 20% and train 80% 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 10)

In [17]:
# linear regression model
from sklearn.linear_model import LinearRegression

# train model
l = LinearRegression()
l.fit(X_train, y_train)

LinearRegression()

In [18]:
# tell good how your model is
l.score(X_test, y_test)

0.8017674308563397

In [21]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits = 5, test_size = 0.2, random_state = 0)

cross_val_score(LinearRegression(),X,y, cv = cv)

array([0.85435491, 0.83563607, 0.82369758, 0.84409753, 0.81649097])

In [44]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def find_best_model(X,y):
    algos = {
        'linear regression' : {
            'model' : LinearRegression(),
            'params': {
                'normalize' : [True, False]
            }  
        },
        
        'lasso' : {
            'model' : Lasso(),
            'params': {
                'alpha' : [1,2],
                'selection': ['random' , 'cyclic']
                }
                
        },
        
        'decision tree': {
            'model' : DecisionTreeRegressor(),
            'params': {
                'criterion': ['mse', 'friedman_mse'],
                'splitter' : ['best' , 'random']
            }
        }
    }
    
    scores = []
    cv = ShuffleSplit(n_splits = 5, test_size = 0.2, random_state = 0)
    
    for algo_name, config in algos.items():
        gs = GridSearchCV(config['model'] ,config['params'], cv = cv ,return_train_score = False)
        gs.fit(X,y)
        
        scores.append({
            'model' : algo_name,
            'best score' : gs.best_score_,
            'best params' : gs.best_params_
        })
        
    return pd.DataFrame(scores, columns = ['model','best score','best params'])

In [45]:
find_best_model(X,y)

               model  best score                               best params
0  linear regression    0.834855                       {'normalize': True}
1              lasso    0.684330       {'alpha': 1, 'selection': 'cyclic'}
2      decision tree    0.748679  {'criterion': 'mse', 'splitter': 'best'}

In [47]:
df2.head(3)

,total_sqft,bath,price,bhk,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,2850.0,4.0,428.0,4,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1630.0,3.0,194.0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1875.0,2.0,235.0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
import numpy as np
def predict_price(location, total_sqft, bath, bhk):
    loc_index = np.where(X.columns == location)[0][0]
    
    x = np.zeros(len(X.columns))
    x[0] = total_sqft
    x[1] = bath
    x[2] = bhk
    
    if loc_index >=0:
        x[loc_index] = 1
    return l.predict([x])[0]

In [52]:
predict_price('1st Block Jayanagar', 1000,2,2)

198.46355948583155

In [53]:
predict_price('1st Block Jayanagar', 1000,3,2)

199.6966644748368